<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Employee Page</title>
</head>
<body>
<h1>Wprowadź dane pracownika</h1>

<form action="#" th:action="@{/addEmployee" method="post" th:object="${employee}">

    <p>Imię: <input type="text" th:field="*{name}"></p>
    <p>Nazwisko: <input type="text" th:field="*{surname}"></p>
    <p>Wiek: <input type="number" th:field="*{age}"></p>
    <p>Dział: <select th:field=*{department}>
        <option th:each="source : *{departments}" th:value="${source}" th:text="${source}">

        </select></p>
    <p><input type="submit" value="Dodaj"> </p>
</form>

</body>
</html>