<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<h1>BAZA URZYTKOWNIKÓW</h1>
<br>
<br>

<div th:if="${employees.empty}">
    <h2>Dodaj pracownika</h2>
</div>
<div th:unless="${employees.empty}">
    <table>
        <tr>
            <th>Imię</th><th>Nazwisko</th><th>Wiek</th><th>Dział</th>
        </tr>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.name}">Katarzyna</td>
            <td th:text="${employee.surname}">Bieńko</td>
            <td th:text="${employee.age}">35</td>
            <td th:text="${employee.department}">Biuro</td>
        </tr>
    </table>
</div>
<p><a href="/add">Dodaj pracownika</a></p>

</body>
</html>