<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>

<h1>Witaj w bazie użytkowników firmy Ice!</h1>
<br>
<br>
<a th:href="@{/login}"> Zaloguj się </a>

</body>
</html>